[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
python-dotenv = "*"
beautifulsoup4 = "*"
requests = "*"
paramiko = "*"

[requires]
python_version = "3.8"

[scripts]
ichigekisan = "python3 ichigekisan/core.py"
